@media screen and (max-width: 1120px) {

.img-profile {
   display: none;
}

.text-content #home{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.text-content #about{
    width: 100%;
    padding: 10px;
    text-align: center;
}
#about table{
    text-align: center;
    
}
.text-content #skills {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 300px;
}
#skills .items .item1::before {
    content: '';
    position: unset;
    width: 0%;
    height: 0px;
    bottom: 0;
}

#skills .items .item2::before {
content: '';
    position: unset;
    width: 0%;
    height: 0px;
    bottom: 0;
}

#skills .items .item3::before {
content: '';
    position: unset;
    width: 0%;
    height: 0px;
    bottom: 0;
}

#skills .items .item4::before {
    content: '';
        position: unset;
        width: 0%;
        height: 0px;
        bottom: 0;
}
   
    
.text-content #service {
width: 100%;
padding: 10px;
text-align: center;
 margin-top: 200px;

}
#service .service-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.text-content #contact {
width: 100%;
padding: 10px;
text-align: center;
margin-top: 1000px;
}
#contact form .first-input input {
    width: 100%;
}
#contact form .first-input {
    display: flex;
    flex-direction: column;
}




.footer .back-btn .footer-line::before {
    position: absolute;
    content: '';
    height: 0px;
    width: 0%;
}
.back-btn a {
    display: none;

}

}