@media screen and (max-width: 1120px) {

.img-profile {
   display: none;
}

.text-content #home{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.text-content #about{
    width: 100%;
    padding: 10px;
    text-align: center;
}
#about table{
    text-align: center;
    
}
.text-content #skills {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: 500px;
}
#skills .items .item1::before {
    content: '';
    position: unset;
    width: 0%;
    height: 0px;
    bottom: 0;
}

#skills .items .item2::before {
content: '';
    position: unset;
    width: 0%;
    height: 0px;
    bottom: 0;
}

#skills .items .item3::before {
content: '';
    position: unset;
    width: 0%;
    height: 0px;
    bottom: 0;
}

#skills .items .item4::before {
    content: '';
        position: unset;
        width: 0%;
        height: 0px;
        bottom: 0;
}
   
    
.text-content #service {
width: 100%;
padding: 10px;
text-align: center;
 margin-top: 500px;

}
#service .service-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.text-content #contact {
width: 100%;
padding: 10px;
text-align: center;
margin-top: 1500px;
}
#contact form .first-input input {
    width: 100%;
}
#contact form .first-input {
    display: flex;
    flex-direction: column;
}
#contact form .first-input .name .lable {
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 30px;
    margin-left: 20px;
}
#contact form .first-input .email .lable {
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 100px;
    margin-left: 20px;
}
#contact form .email input:hover~.lable {
    color: #987750;
    top: 80px;
    background-color: #1d1b19;
    transform: scale(0.5);
}
#contact form .number .lable {
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 170px;
    margin-left: 20px;
}
#contact form .number input:hover~.lable {
    color: #987750;
    top: 150px;
    background-color: #1d1b19;
    transform: scale(0.5);
}


#contact form .message .lable {
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 250px;
    margin-left: 20px;
}
#contact form .message textarea:hover~.lable {
    color: #987750;
    top: 225px;
    background-color: #1d1b19;
    transform: scale(0.5);
}

.footer .back-btn .footer-line::before {
    position: absolute;
    content: '';
    height: 0px;
    width: 0%;
}
.back-btn a {
    display: none;

}

}