* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    
}
*::-webkit-scrollbar {
    width: 1em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #1d1b19;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d1b19;
    outline: 1px solid #1d1b19;
}

body{
    background-color: #1d1b19;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-margin: 20px;
    color: #888;
}

.container{
    scroll-behavior: smooth;
    scroll-margin: 20px;
}
.container::before{
    content: '';
    position: fixed;
    height: 100vh;
    width: 0%;
    background-color: #1d1b1994;
    z-index: 5;
    top: 0;
    transition: width .6s ease-in-out;
}
.left-overlay::before{
    width: 90%;
    transition: width .6s ease-in-out;
}

.img-profile {
    position: fixed;
    height: 100vh;
    width: 30%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(153, 151, 148, 0.884);
}



.img-profile img {
    z-index: 3;
}

.img-profile .frame1 {
    height: 430px;
    width: 310px;
    position: absolute;
    border: 1px solid rgba(153, 151, 148, 0.884);
    padding: 10px;
}

.img-profile .frame2 {
    border: 1px solid rgba(153, 151, 148, 0.884);
    height: 450px;
    width: 290px;
    position: absolute;
    padding: 10px;


}

.img-profile .active {
    font-size: 12pt;
    bottom: 50px;
    position: fixed;
}

.img-profile .active span {
    height: 5px;
    width: 5px;
    background-color: rgb(223, 168, 68);
    padding: 5px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 50%;
}

.img-profile h4 {
    color: rgb(164, 133, 97);
    font-size: 14pt;
    padding-top: 12px;
    text-align: center;
}

.img-profile h4+p {
    color: #fff;
    font-size: 17pt;
    padding-top: 15px;
    text-align: center;
    
}




.nav-bar {
    height: 100vh;
    width: 0%;
    position: fixed;
    background-color: #1d1b19;
    display: flex;
    right: 0;
    top: 0;
    flex-direction: column;
    z-index: 6;
    transition: width .8s ease-in-out;
}

.nav-bar .nav-title {
    margin-top: 40px;
    margin-left: 25px;
}

.bugger-menu {
    background-color: #1d1c18;
    height: 20px;
    width: 30px;
    position: fixed;
    right: 35px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: all .2s ease-in;
}

.change {
    opacity: 1;
    width: 30%;
}

.change .nav-link {
    opacity: 1;
    transition: all .9s ease-in;
}

.change .line-2 {
    opacity: 0;
}

.change .line-1 {
    transform: rotateZ(40deg) translate(3px, 5px);
}

.change .line-3 {
    transform: rotate(-40deg) translate(3px, -5px);
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    color: #ddd;
    text-transform: capitalize;
    opacity: 0;
    height: 30px;
}

.nav-link::after,
.nav-link::before {
    content: '';
    width: 100px;
    height: 2px;
    background-color: rgb(63, 62, 60);
    position: absolute;
    left: 0;
    transform: scale(0);
    transition: transform .5s ease;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::after,
.nav-link:hover::before {
    transform: scale(1);
}

nav .social-media {
    display: flex;
    margin-left: 23px;

}


.social-media .fa {
    font-size: 24pt;
    color: #fff;
    margin-left: 10px;


}

.text-content section{
    height: 100vh;
    background-color: #1d1c18;
    width: 70%;
    display: flex;
    flex-direction: column;
     padding: 20px;

}

/* home */

.text-content #home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}
#home .sub-title,.title{
    padding-bottom: 50px;
}
#home .desc{
    line-height: 30px;
    font-size: 18pt;
}





/* General */

section .title{
   font-size: 30pt;
   color: #ddd; 
   font-weight: 400;
}

section .sub-title{
    font-size: 15pt;
    color: #987750;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 10px;
}
section p{
    font-size: 20pt;
    margin-top: 10px;
}


/* About me */

.text-content #about {
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;

}

#about .title,.sub-title{
    padding-bottom: 50px;    
}

#about .desc{
    line-height: 30px;
    font-size: 18pt;
    margin-bottom: 50px;
}

#about table{
    border: none;
    border-collapse: collapse;
    width: 100%;
    color: #999;
    text-align: left;
    display: table;
}
table th,a{
    font-size: 16pt;
    font-weight: 400;
    color: #ddd;
    text-decoration: none;
    width: 500px;
}
table th:first-child{
font-weight: 500;
color: #888;
text-transform: uppercase;
font-size: 12pt;
line-height: 30px;
padding: 2px;
}


#about .downlod-btn{
    display: flex;
    position: relative;
    margin-top: 20px;
}
#about .downlod-btn a{
    width: 100%;
    font-size: 12pt;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, .2);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-around;

}
.downlod-btn .icon{
    position: relative;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.downlod-btn .fn__svg{
    width: 50px;
    height: 50px;
    display: block;
    fill: currentColor;
}

.downlod-btn .fn__svg.arrow{
    position: absolute;
    left: 50%;
    margin-left: -23px;
    top: 0;
    will-change: transform;
    
}



.text-content #skills{
    height: 100vh;
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

#skills .items{
    display: flex;
    flex-direction: column;
}
#skills .items li{
    list-style-type: none;
    line-height: 40px;
    font-size: 14pt;
    position: relative;
}

#skills .items .item1::before{
    content: '';
    position: absolute;
    width: 90%;
    background-color: #987750;
    height: 2px;
    bottom: 0;
}
#skills .items .item2::before {
    content: '';
    position: absolute;
    width: 85%;
    background-color: #987750;
    height: 2px;
    bottom: 0;
}

#skills .items .item3::before {
    content: '';
    position: absolute;
    width: 80%;
    background-color: #987750;
    height: 2px;
    bottom: 0;
}

#skills .items .item4::before {
    content: '';
    position: absolute;
    width: 75%;
    background-color: #987750;
    height: 2px;
    bottom: 0;
}

#skills .desc{
    line-height: 30px;
    font-size: 18pt;
    margin-top: 50px;
}

.text-content #portfolio {
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}

#portfolio .projects{
    display: flex;
    justify-content: start;
    overflow:auto;
    scroll-behavior: smooth;
}

#portfolio .project {
 transition: all .3s;
 padding:20px;
}

#portfolio .project:hover {
    transform: scale(1.2);
}
.project .design{
    font-size: 20px;
    color: #888;
}
.project .name{
    font-size: 30px;
    color: #ddd;
}

.text-content #service {
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;

}
#service .desc{
    line-height: 30px;
    font-size: 18pt;
    margin-bottom: 20px;
}
#service .service-item{
background-color: #181715;
border: 1px solid #1d1c18;
display: flex;
margin-top: 10px;

}
#service .service-item::before{
    content: '';
    width: 2px;
    background-color: #888;
    height: 50px;
    position: absolute;
    margin-top: 60px;

}

.service-item .service-content{
    flex: 1;
    padding: 40px;
    
}
.service-item .service-content h3{
    font-size: 20pt;
    font-weight: 400;
    color: #ddd;
    
}
.service-item .service-content p{
    font-size: 12pt;
    line-height: 22px;
}
.service-item .price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-left: 1px solid rgb(88, 22, 22);
}
.service-item .price p{
    font-size: 12pt;
    color: #888;
    text-align: center;
    margin-bottom: 10px;
}

.service-item .price h3 {
    color: #987750;
    font-size: 30px;
   
}




.text-content #customer{
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 500px;
}
#customer .comments{
    padding-bottom: 20px;
}
#customer .comment{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.comment .message p{
    font-style: italic;
    font-size: 16pt;
    padding-top: 10px;
    line-height: 30px;
}

.comment .owner .subtitle{
    color: #ddd;
    font-size: 18pt;
    padding-bottom: 20px;
    margin-top: 20px;
}


.text-content #contact {
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
}
#contact .desc{
    line-height: 30px;
    font-size: 18pt;
}
#contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1d1b19;
}

#contact form div{
    width: 100%;
    padding-top: 20px;
}
#contact form input{
    height: 50px;
    width: 100%;
    position: relative;
    background-color: #1d1b19;
    color: #fff;

}
#contact form textarea {
    height: 100px;
    width: 100%;
    background-color: #1d1b19;
    color: #fff;

}
#contact form button{
    height: 50px;
    width: 100%;
    background-color: #1d1b19;
    color: #ddd;
    margin-top: 20px;
    text-transform: uppercase;
}
#contact form .first-input input:hover ~ .lable{
color: #987750; 
top: 10px;  
background-color:#1d1b19;
transform: scale(0.5);
}
#contact form .number input:hover~.lable {
    color: #987750;
    top: 80px;
    background-color: #1d1b19;
    transform: scale(0.5);
}
#contact form  textarea:hover~.lable {
    color: #987750;
    top: 150px;
    background-color: #1d1b19;
    transform: scale(0.5);
    
}
#contact form .first-input {
    display: flex;
    justify-content: space-around;
}
#contact form .first-input input {
 width: auto;
   
}

#contact form .email input {
width: 100%;
}
#contact form .name input {
    width: 90%;
    position: relative;
}
#contact form input,button,textarea{
    border: 1px solid #888;
}
#contact form input:focus {
    border: 1px solid #987750;
}
#contact form button:hover {
    border: 2px solid #987750;
    color: #987750;
}

#contact form .first-input .lable{
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 30px;
    margin-left: 20px;
}
#contact form .number .lable {
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 100px;
    margin-left: 20px;
}
#contact form .message .lable {
    position: absolute;
    color: rgb(172, 172, 161);
    width: auto;
    height: auto;
    font-size: 16pt;
    top: 180px;
    margin-left: 20px;
}




#contact .contact-info{
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact-info p{
    font-size: 12pt;
    color: #888;
    padding-top: 5px;
    text-transform: uppercase;
}
.contact-info h3{
    font-size: 14pt;
    color: #ddd;
}

.contact-info .footer{
    position: relative;
}
.footer .footer-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer .back-btn a::before{
position: absolute;
content: '';
height: 1px;
width: 100%;
background-color: #888;
}

.footer .footer-content p {
    font-size: 12pt;
    color: #888;
    padding: 10px;

}







