@media screen and (max-width:600px){
body{
    background-color: yellow;
    overflow: unset;
}
main{
    background-color: yellow;
    width: auto;
}

.content {
    background-color: #918a6e;  
    display: flex;
    flex-direction: column;

}
.content .content-text {
    border-right: 1px solid rgb(80, 78, 76);
    display: flex;
    flex-direction: column;
    height: auto;
   
}

.nav-bar {
    height: auto;
    width: auto;
    position: unset;
    background-color: blue;
}
.nav-bar .bugger-menu{
    display: none;
}
.nav-bar .social-media{
    display: none;
}

  
}